@charset "UTF-8";

body {
	background-color: black;
	color: rgb(233, 233, 233);
}

pre {
	text-align: left;
	font-weight: bold;
	border-left: none;
	border-right: none;
	border-top: 11px double rgba(120,20,20,1);
	border-bottom: 11px double rgba(120,20,20,1);
	background: rgb(222,222,222);
}

h1 {
	padding-left: 10px;
	padding-top: 10px;
}

h3 {
	margin: 10px;
	margin-bottom: 10px;
}

div {
	border: 2px solid grey;
	padding: 10px;
	/* margin: 10px; */
}

.box {
	border: none;
	/* background-image: linear-gradient(rgba(255,155,155), rgba(155,255,155)); */
	background-color: rgb(88, 88, 88);
	/* margin: 10px; */
	/* padding: 20px; */
}

.box input[type=button] {
	margin: 10px;
	background: rgb(40,40,40);
	color: rgb(233, 233, 233);
	font-size: 14px;
	/* padding: 0; */
	width: 100px;
	height: 30px;
	/* border-radius: 10px; */
}


#res {
	display: flex;
	flex-direction: row;
}

.item {
	flex: 25%;
	margin: 3px;
	padding: 2px;
}